.form-buy {
  background-color: $white-smoke;
  min-height: 100%;
  line-height: 1;

  .buy {
    max-width: 700px;
    margin: auto;
    background-color: white;
    &__title{
      @include section-design;
      font-size: 22px;
      text-align: center;
      background-color: white;
      &__name {
        font-weight: 600;
      }
    }

    &__item {
      @include section-design;
      height: 81px;
      display: flex;
      justify-content: center;
      &__info {
        width: 374px;
        height: 80px;
        display: flex;
        background-color: white;
        &__image {
          width: 80px;
          height: 80px;
          .item-image {
            width: 80px;
            height: 80px;
          }
        }
        &__details {
          width: 247px;
          height: 80px;
          margin-left: 16px;
          background-color: white;
          .item__name {
            padding-bottom: 8px;
            background-color: white;
          }
          .item__price {
            background-color: white;
            .price {
              font-weight: 12px;
              background-color: white;
            }
            .shipping__fee {
              background-color: white;
            }
          }
        }
      }
    }

    &__content {
      @include section-design;
      &__price {
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        font-weight: bold;
        .purchase-price {
          font-size: 18px;
        }
      }
    }

    &__creditcard {
      @include section-design;
      &__method {
        display: flex;
        justify-content: space-between;
      }

      &__registration {
        font-size: 14px;
        .bcr-card {
          height: 16px;
          width: 48px;
          margin-top: 8px;
        }
      }

    }
    &__shipping {
      @include section-design;
      &__destination {
        display: flex;
        justify-content: space-between;
      }
      
      &__address {
        font-size: 14px;
      }
    }

    &__btn {
      @include section-design;
      padding-bottom: 48px;
      &__content {
        color: $ash-gray;
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 24px;
      }

      &__button {
        display: flex;
        .btn--purchase__btn {
          @include btn-design;
          width: 100%;
          background-color: $base-color;
          color: $white;
          padding: 0 24px;
        }
      }
    }
  }
}

// 変更ボタン
.method-change {
  color: $cyan;
  font-size: 14px;
}

// h3
.method-howto {
  margin-bottom: 8px;
}
.shipping-destination {
  margin-bottom: 8px;
}