@mixin cards_setting{
  height: 20px;
  margin-left: 3px;
}

.form-card {
  background-color: $white-smoke;
  min-height: 100%;
  line-height: 1;

  .card {
    max-width: 700px;
    margin: auto;
    background-color: white;
    &__title{

      font-size: 24px;

      margin: auto;
      border-bottom: 1px solid $white-smoke;
      text-align: center;
      background-color: white;
      &__name {
        font-weight: 600;
        padding: 8px 24px;
        line-height: 1.4;
        color: $safe-color;
      }
    }
    &__details {
      border-top: 1px solid #f5f5f5;
      padding: 40px 40px 64px;
      .card__information {
        max-width: 343px;
        margin: auto;


        .number-details {
          display: flex;
          .card-number {
            font-size: 14px;
          }

        }
        .number {

        }
        .cards__image {
          margin: 8px 0 0;
        }
      }
    }
  }

}

// 必須
.form-required {
  @include form-required;
  background-color: $emphasis-color;
  text-align: center;
  vertical-align: top;
}







.visa {
  @include cards_setting
}

.master {
  @include cards_setting
}

.jcb {
  @include cards_setting
}

.amex {
  @include cards_setting
}

.diners {
  @include cards_setting
}

.discover {
  @include cards_setting
}

.saison {
  @include cards_setting
}