@mixin title {
  height: 19px;
  width: 620px;
  font-size: 14px;
  color: $ashgrey;
  margin-bottom: 24px;
  display: flex;
  &--question {
    font-size: 13px;
    margin-left: 4px;
    color: $cyan;
    text-decoration: none;
  }
}