.single-container
  .single-container__header
    .single-container__header__logo
      = link_to image_tag("material/logo/logo.png", class:"list-image2"), root_path()
  .single-container__main
    .single-container__main__head
      会員情報入力
  .single-container__main
    .single-container__main__title
      ニックネーム
      %span{class: "require"} 必須
    %input{class: "single-container__main__text", placeholder: "例)山田太郎"}
    .single-container__main__title
      メールアドレス
      %span{class: "require"} 必須
    %input{class: "single-container__main__text", placeholder: "PC・携帯どちらでも可"}
    .single-container__main__title
      パスワード
      %span{class: "require"} 必須
    %input{class: "single-container__main__text", placeholder: "7文字以上"}
    .single-container__main__title
      パスワード(確認)
      %span{class: "require"} 必須
    %input{class: "single-container__main__text", placeholder: "7文字以上"}
    .single-container__main__title
      お名前(全角)
      %span{class: "require"} 必須
      .flexbox
        %input{class: "single-container__main__text text-half", placeholder: "例)山田"}
        %input{class: "single-container__main__text text-half", placeholder: "例)太郎"}
    .single-container__main__title
      お名前カナ(全角)
      %span{class: "require"} 必須
      .flexbox
        %input{class: "single-container__main__text text-half", placeholder: "例)ヤマダ"}
        %input{class: "single-container__main__text text-half", placeholder: "例)タロウ"}
    .single-container__main__title
      生年月日
      %span{class: "require"} 必須
      .flexbox
        %select{class: "new_session-wrapper__main__select three-select"}
          %option{value: "0"} --
          %option{value: "1"} 選択肢1
          %option{value: "2"} 選択肢2
          %option{value: "3"} 選択肢3
        年
        %select{class: "new_session-wrapper__main__select three-select"}
          %option{value: "0"} --
          %option{value: "1"} 選択肢1
          %option{value: "2"} 選択肢2
          %option{value: "3"} 選択肢3
        月
        %select{class: "new_session-wrapper__main__select three-select"}
          %option{value: "0"} --
          %option{value: "1"} 選択肢1
          %option{value: "2"} 選択肢2
          %option{value: "3"} 選択肢3
        日
    .single-container__main__title
      電話番号
      %span{class: "require"} 必須
    %input{class: "single-container__main__text", placeholder: "ハイフンなし10~11桁"}
    .single-container__main__caution
      ※本人情報は正しく入力してください。会員登録後、お時間を頂く場合があります。
    %input{type: "submit",class: "single-container__main__btn", value: "次へ進む"}      