.single-container
  .single-container__header
    .single-container__header__logo
      = link_to image_tag("material/logo/logo.png", class:"list-image2"), root_path()
        
  .single-container__main
    .single-container__main__title.text-align-center
      アカウントをお持ちでない方はこちら
    = link_to new_user_users_path, class: "single-container__main__btn" do
      メールアドレスで登録する
  