.form-card
  .card__header
  = render "items/form_header"

  .card
    %section.card__title
      %h2.card__title__name 支払い方法
      = render "registration_form"


  .card__fotter
    = render "items/form_footer"