$show-box-width: 700px;

.item-wrapper {
  width: 100%;
  background-color: $scenery-color;
  padding: 40px 0;
  font-family: Source Sans Pro, Helvetica, Arial, 遊ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  * {
    box-sizing: border-box;
  }
}

.item-box {
  width: $show-box-width;
  margin: 0 auto;
  padding: 20px 40px;
  align-items: center;
  background-color: #fff;
  // 商品名
  &__name {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  // 画像
  &__image {
    width: 80%;
    margin: 0 auto;
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
    ul {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      li {
        text-align: center;
      }
    }
    &--main {
      width: 100%;
    }
    &--sub {
      li {
        width: 25%;
        margin:10px 5px 0 5px;
      }
    }
  }
  // 価格
  &__price {
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    margin: 24px 0;
    &__detail{
      font-size: 16px;
      font-weight: normal;
      text-align: center;
    }
  }
  // 商品説明
  &__introduction {
    width: 100%;
    font-size: 18px;
    word-wrap: break-word; 
    margin-bottom: 20px;
    margin-top: 10px;
  }
  // 商品情報
  &__table {
    table {
      height: 400px;
      width: 100%;
      border-collapse: collapse;
      tr {
        border-spacing: 2px;
        th {
          width: 20%;
          text-align: center;
          border: 1px solid $border-color;
          font-size: 14px;
          padding: 8px;
          background-color: #eee;
        }
        td {
          width: 60%;
          vertical-align: inherit;
          border: 1px solid $border-color;
          padding: 15px;
          font-size: 14px;
          a {
            color: $emphasis-color;
          }
        }
      }
    }
  }
  // お気に入り・通報
  .option-box{
    width: 100%;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    &__favorite {
      color: $emphasis-color;
      border-radius: 27px;
      border: 1px solid #ffb340;
      padding: 5px 10px;
      i.fa {
        font-size: 13px;
      }
    }
    &__report {
      border: 1px solid;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 14px;
    }
  }
}
// コメント部分
.comment-box {
  width: $show-box-width;
  padding: 20px;
  margin: 10px auto;
  text-align: center;
  background-color: #fff;
  .comment-form {
    align-items: center;
    &__content {
      width: 100%;
      min-height: 100px;
      padding: 10px;
    }
    &__note {
      width: 100%;
      font-size: 14px;
      padding: 5px;
      margin-top: 10px;
      text-align: left;
      background-color: $scenery-color;
    }
    &__button {
      width: 60%;
      background-color: $emphasis-color;
      color: #fff;
      border: 1px solid;
      line-height: 50px;
      border-radius: 60px;
      font-size: 18px;
      margin-top: 30px;
      .bubble {
        color: #fff;
      }
    }
  }
}
// 下部のリンク
.links {
  width: $show-box-width;
  margin: 0 auto;
  text-align: center;
  &__kategory {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    a {
      color: $emphasis-color;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    li {
      a{
        color: $emphasis-color;
      }
      i.fa {
        -webkit-text-stroke: 1px $scenery-color
      }
    }
  }
}
// 購入ボタン
.purchaseBtn {
  &--red{
    background-color: rgba(255, 0, 0, 0.856);
    height: 90px;
  }
}



