.form-footer
  .form-footer--contents
    %ul.contents-links
      %li
        = link_to "#", class: "contents-links--item" do
          プライバシーポリシー
      %li
        = link_to "#", class: "contents-links--item" do
          メルカリ利用規約
      %li
        = link_to "#", class: "contents-links--item" do
          特定商取引に関する表記
    = link_to image_tag("material/logo/logo-white.png", alt: "FURIMA", size: "100x40"), "#"
    %P.form-footer--contents__trademark
      ©️ FURIMA