%ul
  %li
    =link_to '#' do
      FURIMA
  %li
    = icon('fa', 'angle-right') 
  %li
    =link_to '#' do
      レディース
  %li
    = icon('fa', 'angle-right') 
  %li
    =link_to '#' do
      トップス
  %li
    = icon('fa', 'angle-right') 
  %li
    =link_to '#' do
      Tシャツ/カットソー(半袖/袖なし)
  %li
    = icon('fa', 'angle-right') 
  %li.hierarchy__current
    %span ああああ