.third-section
  .third-section__content
    .third-section__content__sub-message
      だれでもかんたん、人生を変えるフリマアプリ
    .third-section__content__main-message
      今すぐ無料ダウンロード！
    .third-section__content__btn
      = image_tag "material/logo/app_store_badge_US-UK_RGB_blk_092917.svg", class: "btn_a"
      = image_tag "material/logo/google-play-badge.png", class: "btn_g"