.main__fv-section
  %h1.main__fv-section__title 人生を変えるフリマアプリ
  %p.main__fv-section__text FURIMAは誰でも簡単に出品・購入できる
  %p.main__fv-section__text フリマアプリです

-# FURIMAが選ばれる3つの理由
.main__introduction
  .main__introduction__title
    FURIMAが選ばれる3つの理由
  %ul.main__introduction__lists
    %li.main__introduction__lists__content
      .main__introduction__lists__content__image
        = image_tag "material/pict/pict-reason-01.jpg", class:"list-image"
        .main__introduction__lists__content__image__number 1
      .main__introduction__lists__content__title 
        %span.span 3分
        ですぐに出品
      .main__introduction__lists__content__text 
        スマホで入力するだけで簡単に出品できる！

    %li.main__introduction__lists__content
      .main__introduction__lists__content__image
        = image_tag "material/pict/pict-reason-02.jpg", class:"list-image"
        .main__introduction__lists__content__image__number 2
      .main__introduction__lists__content__title 
        %span.span シンプル
        で使いやすい
      .main__introduction__lists__content__text 
        めんどくさい入力は必要なく、検索も購入もスムーズ！

    %li.main__introduction__lists__content
      .main__introduction__lists__content__image
        = image_tag "material/pict/pict-reason-02.jpg", class:"list-image"
        .main__introduction__lists__content__image__number 3
      .main__introduction__lists__content__title 
        手数料
        %span.span 業界最安
      .main__introduction__lists__content__text 
        最大3%でお得に出品＆購入！

-# セカンドビュー
.main__middle-section
  .main__middle-section__content
    .main__middle-section__content__subtitle
      会員数日本一位
    .main__middle-section__content__text
      FURIMAは、フリマアプリで最も人気。
      %br
      出品・購入回数も業界最多です！
      %br
      欲しかったあの商品に出会えるかもしれません。

-# FURIMAの特徴
.main__app-feature
.main__pickup-category
.main__pickup-brand

-# サードビュー
.main__third-section
  .main__third-section__content
    .main__third-section__content__sub-message
      だれでもかんたん、人生を変えるフリマアプリ
    .main__third-section__content__main-message
      今すぐ無料ダウンロード！