// 変数の設定
// 1.影付きフォント
@mixin text_shadow {
  text-shadow:0 0 5px #333;
  color: white;
}

// 2.強調色
$emphasis_color: #3CCACE;

// 3.ピックアップカテゴリー＆ピックアップブランドのタイトル
@mixin pickup_title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}

// 4.ピックアップカテゴリー＆ピックアップブランドのサブタイトル
@mixin pickup_subtitle {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: $emphasis_color;
}
// 5.FURIMAが選ばれる3つの理由,FURIMAの特徴のタイトル(擬似要素含む)
@mixin basic_title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 25px;
  position: relative;

  &::after {
    content: "";
    width: 70px;
    height: 4px;
    background-color: $emphasis_color;
    position: absolute;
    bottom: 0;
    left: 47%;
  }
}

// 6.AppStore＆Googleplayのバッチ
@mixin display_btn {
  display: flex;
  .btn_a {
    width: 175px;
  }
  .btn_g {
    width: 215px;  
  }
}



// 以下、実装
// ファーストビュー
.main {
  &__fv_section {
    height: 560px;
    background-image: url(material/pict/bg-mainVisual-pict_pc.jpg);
    background-size: cover;

    &__title {
      @include text_shadow;
      color: #ffffff;
      font-size: 60px;
      padding-top: 200px;
      padding-left: 65px;
    }

    &__text {
      @include text_shadow;
      color: white;
      padding-top: 20px;
      padding-left: 65px;
      display: flex;
      line-height: 1.9;
    }
    &__btn {
      @include display_btn;
      margin-top: 14px;
      padding-left: 65px;
    }
  }

  // FURIMAが選ばれる3つの理由
  &__introduction {
    padding: 60px 20px;

    &__title {
      @include basic_title
    }

    &__contents {
      width: 100%;
      max-width: 1040px;
      margin: 0 auto;
      display: flex;

      
      &__content {
        flex-direction: column;
        margin: 16px 5% 0 0;
        
        &__image {
          display: block;
          margin-bottom: 20px;
          position: relative;
          &__number {
            position: absolute;
            top: 0;
            left: 0;
            padding: 5px 17px;
            color: white;
            background-color: $emphasis_color;
            font-size: 25px;
            font-weight: bold;
          }
          .list-image {
            width: 100%;
          }
        }
        &__title  {
          font-size: 24px;
          font-weight: bold;
          text-align: center;
          line-height: 50px;

          .span {
            color: $emphasis_color;
          }
        }
        &__text  {
          font-size: 17px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
      &__content--last {
        flex-direction: column;
        margin-top: 16px;
        text-align: center;
      }
    }
  }

  // セカンドビュー
  &__middle_section {
    height: 400px;
    background-image: url(material/pict/bg-topMiddleDl-pict.jpg);
    background-size: cover;
    background-position: bottom right;
    display: flex;
    align-items: center;

    &__content {
      @include text_shadow;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      color: white;

      &__subtitle {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      
      &__text {
        font-size: 18px;
        margin: 20px 0 20px;
      }

      &__btn {
        @include display_btn;
      }
    }
  }

  // FURIMAの特徴
  &__app_feature {
    padding: 60px 100px;
    background-color: #fff;

    &__title {
      @include basic_title
    }

    &__lists {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;

      &__content {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        padding: 0 20px;
        text-align: center;

        &__image {
          width: 70%;
          margin: 0 auto;

          .list-image {
            width: 100%;
          }
        }
        &__title {
          font-size: 19px;
          font-weight: bold;
          margin: 38px 0 10px;
        }
        &__text {
          font-size: 16px;
          font-weight: 200;
          margin: 0 0 40px;
          text-align: left;
        }
      }
    }
  }

// ピックアップカテゴリー
  &__pickup_category {
    height: 100%;
    padding: 80px 0 20px;
    background-color: #f8f8f8;

    &__title {
      @include pickup_title;
    }

    &__contents {  
      &__title {
        
        text-align: center;

        .pickup-category-title {
          @include pickup_subtitle
        }
      }

      &__items {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        &__item {
          width: 220px;
          display: inline-block;
          float: left;
          &__image {
            width: 220px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
            .pickup-category-item {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              z-index: auto;
              height: 150px;
              object-fit: cover;
            }
          }
          
          &__info {
            background-color: white;
            color: #333333;
            padding: 16px;
            .name {
              overflow: hidden;
              line-height: 1.5;
              font-size: 14px;
            }
            &__detail {
              font-size: 14px;
              ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
              p {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }

// ピックアップブランド
  &__pickup_brand {
    width: 100%;
    padding: 80px 0;
    background-color: #f8f8f8;
    &__title {
      @include pickup_title
    }
    &__contents {
      &__title {
        text-align: center;

        .pickup_brand_title {
          @include pickup_subtitle
        }
      }
      &__items {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;

        &__item {
          width: 220px;
          display: inline-block;
          float: left;
        
          &__image {
            width: 220px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
            .pickup_brand_item {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              z-index: auto;
              height: 150px;
              object-fit: cover;
            }
          }
          &__info {
            background-color: white;
            color: #333333;
            padding: 16px;
            .name {
              overflow: hidden;
              line-height: 1.5;
              font-size: 14px;
              text-align: left;
            }
            &__detail {
              font-size: 14px;
              ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
              p {
                font-size: 10px;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }

// サードビュー
  &__third-section {
    background-image: url(material/pict/bg-appBanner-pict.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 40px;
    
    &__content {
      text-align: center;

      &__sub-message {
        @include text_shadow;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__main-message {
        @include text_shadow;
        font-size: 35px;
      }

      &__btn {
        @include display_btn;
        width: 100%;
        justify-content: center;
      }
    }
  }
}

// 画面右下の固定アイコン
.purchaseBtn {
  width: 90px;
  position: fixed;
  padding: 15px;
  bottom: 32px;
  right: 32px;
  background-color: $emphasis_color;
  border-radius: 4%;
  text-align: center;
  color: #fff;
  
  .purchaseBtn__text {
    font-size: 18px;
    margin-bottom: 5px;
    text-decoration: none;
    display: block;
  }
  .purchaseBtn_icon{
    width: 54px;
  }
}