// ヘッダー
header {
  padding: 0 60px;

// ヘッダーコンテンツ部分
  .header__contents {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    padding-top: 15px;
    min-height: 82px;
    
    &__main {
      display: flex;
      align-items: center;

      &__main-title {
        margin-right: 30px;
        padding-bottom: 10px;

        .icon {
          width: 140px;
          display: block;
        }
      }

      &__search_box {
        background-color: blue;
        height: 36px;
        margin-left: auto;
        margin-bottom: 5px;
        width: 100%;
          
          .input-box {
            width: calc(100% - 45px);
            padding: 0 0 0 5px;
            height: 33px;
            position: relative;
          }
          
          .search-btn {
            background-color: #3CCACE;
            width: 36px;
            border: 0;
            padding: 8px;
            position: absolute;
            cursor: pointer;

            .image {
              width: 100%;
              vertical-align: bottom;
            }
          }
      }
    }

// ヘッダーナビゲーションバー
    &__navbar {
      height: 34px;
      font-size: 14px;
      margin-bottom: 10px;
      display: flex;
      color: #333;
      position: relative;

      .list-left {
        display: flex;
        list-style: none;
        line-height: 34px;

        &__category-btn {
          margin-right: 35px;
        }
      }

      .list-right {
        position: absolute;
        right: 0;
        display: flex;
        line-height: 34px;

        &__login-btn {
          margin-right: 20px;
        }
        &__registration-btn {
        }
      }
      .list-btn {
        text-decoration: none;
        color: black;
      }
    }
  }
} 



// ファーストビュー
.main {
  &__fv-section {
    height: 560px;
    background-image: url(material/pict/bg-mainVisual-pict_pc.jpg);
    background-size: cover;

    &__title {
      color: white;
      font-size: 60px;
      padding-top: 200px;
      padding-left: 65px;
      text-shadow: 0 0 5px#333;
    }

    &__text {
      color: white;
      text-shadow: 0 0 5px#333;
      padding-top: 20px;
      padding-left: 65px;
      display: flex;
    }

  }

  // FURIMAが選ばれる3つの理由
  &__introduction {
    padding: 60px 20px;

    &__title {
      font-size: 26px;
      font-weight: bold;
      text-align: left;
      padding-bottom: 15px;
      margin-bottom: 25px;
      position: relative;

      &::after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 47%;
      }
    }

    &__lists {
      width: 100%;
      max-width: 1040px;
      margin: 0 auto;
      display: flex;

      
      &__content {
        flex-direction: column;
        margin: 16px 5% 0 0;
        
        &__image {
          display: block;
          margin-bottom: 20px;
          position: relative;
          &__number {
            position: absolute;
            top: 0;
            left: 0;
            padding: 5px 17px;
            color: white;
            background-color: #3CCACE;
            font-size: 25px;
            font-weight: bold;
          }
          .list-image {
            width: 100%;
          }
        }
        &__title  {
          font-size: 24px;
          font-weight: bold;
          text-align: center;
          line-height: 50px;

          .span {
            color: #3CCACE;
          }
        }
        &__text  {
          font-size: 17px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }

  }

  // セカンドビュー
  &__middle-section {
    height: 400px;
    background-image: url(material/pict/bg-topMiddleDl-pict.jpg);
    background-size: cover;
    background-position: bottom right;
    display: flex;
    align-items: center;

    &__content {
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      color: white;
      text-shadow: 0 0 5px#333;

      &__subtitle {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      
      &__text {
        font-size: 18px;
        margin: 20px 0 30px;
      }
    }

  }

  // FURIMAの特徴
  &__app-feature {
    padding: 60px 100px;
    background-color: #fff;

    &__title {
      font-size: 26px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 15px;
      margin-bottom: 25px;
      position: relative;

      &::after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 47%;
      }
    }

    &__lists {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;

      &__content {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        padding: 0 20px;
        text-align: center;

        &__image {
          width: 70%;
          margin: 0 auto;

          .list-image {
            width: 100%;
          }
        }
        &__title {
          font-size: 19px;
          font-weight: bold;
          margin: 38px 0 10px;
        }
        &__text {
          font-size: 17px;
          font-weight: 200;
          margin: 0 0 40px;
          text-align: left;
        }
      }
    }
  }

// ピックアップカテゴリー
  &__pickup-category {
    height: 100%;
    padding: 80px 0 20px;
    background-color: #f8f8f8;

    &__title {
      font-size: 28px;
      font-weight: bold;
      line-height: 1.4;
      text-align: center;
    }
    &__contents {
      
      &__title {
        text-align: center;
        .pickup-category-title {
          text-decoration: none;
          font-size: 24px;
          font-weight: bold;
          color: #3CCACE;
        }
      }
      &__items-list {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        &__item {
          width: 220px;
          display: inline-block;
          float: left;
          &__image {
            width: 220px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
            .pickup-category-item {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              z-index: auto;
              height: 150px;
              object-fit: cover;
            }
          }
          &__info {
            background-color: white;
            color: #333;
            padding: 16px;
            .name {
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
            }
            &__detail {
              font-size: 16px;
              ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
              p {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }

// ピックアップブランド
  &__pickup-brand {
    width: 100%;
    padding: 80px 0;
    background-color: #f8f8f8;
    &__title {
      font-size: 28px;
      font-weight: bold;
      line-height: 1.4;
      text-align: center;
    }
    &__contents {
      &__title {
        text-align: center;

        .pickup-category-title {
          text-decoration: none;
          font-size: 24px;
          font-weight: bold;
          color: #3CCACE;
        }
      }
      &__items-list {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;

        &__item {
          width: 220px;
          display: inline-block;
          float: left;
        
          &__image {
            width: 220px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
            .pickup-category-item {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              z-index: auto;
              height: 150px;
              object-fit: cover;
            }
          }
          &__info {
            background-color: white;
            color: #333;
            padding: 16px;
            .name {
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
            }
            &__detail {
              font-size: 16px;
              ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
              p {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }

// サードビュー
  &__third-section {
    background-image: url(material/pict/bg-appBanner-pict.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 40px;
    
    &__content {
      text-align: center;
      color: #fff;

      &__sub-message {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
        text-shadow: 0 0 5px #333;
      }
      &__main-message {
        font-size: 35px;
        text-shadow: 0 0 5px #333;

      }
    }
  }
}

// フッター
footer {
  background-color: #272727;
  color: #fff;
  padding: 60px 0;
  text-align: center;

  .contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;

    .content{
      display: flex;
      flex-direction: column;
      width: calc(1/3 * 100%);
      .list {
        list-style: none;

        .title {
          margin-bottom: 20px;
          font-size: 16px;
          font-weight: bold;
        }

        .text {
          font-size: 12px;
          line-height: 32px;
          .footer-content{
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
  .logo {
    .footer-logo {
      max-width: 160px;
      width: 100%;
      margin: 0 auto;
      color: white;
      font-size: 14px;      
    .sign{
    }
   }
  }
}

.purchaseBtn {
  width: 90px;
  position: fixed;
  padding: 15px;
  bottom: 32px;
  right: 32px;
  background-color: #3CCACE;
  border-radius: 4%;
  text-align: center;
  color: #fff;
  .purchaseBtn__text {
    font-size: 18px;
    margin-bottom: 5px;
    text-decoration: none;
    display: block;
  }
  .purchaseBtn__icon{
    width: 54px;
  }

}